target
.classpath
.project
.settings
*.sw?
impl/transaction.log
impl/temp-testng-customsuite.xml
impl/test-output/
examples/tasks/test-output/
examples/tasks/temp-testng-customsuite.xml
impl/coverage.ec
transaction.log
gitflow

