body {
    background: white url(img/bg.png) repeat scroll center;
    font-family: Verdana, Arial;
    margin: 0;
    padding: 0;
}

div.container {
    background: white url(img/tasks-logo.png) no-repeat left top;
    background-position: 20px 20px;
    width: 666px;
    margin: 0 auto;
    padding: 0;
}

/* header */
div.header {
    padding: 0;
    height: 140px;
}

/* image replacemement header */
div.header h1 {
    display: none;
}

#menu {
    display: block;
    margin: 110px 0 0 100px;
    float: left;
}

#menu  li {
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    display: inline;
    font-size: 14px;
}

#menu a {
    color: #899ea6;
    text-decoration: none;
    font-weight: bold;
}

#menu  a:hover {
    color: #99ccff;
    text-decoration: none;
    font-weight: bold;
}

/* content */

hr {
    width: 626px;
    border: solid #dedede 1px;
    border-bottom: none;
}

table {
    border: none;
    margin: 20px;
    width: 626px;
}

#login {
    float: left;
    margin: 20px;
    width: 326px;
}

#login div {
    margin: 10px;
}

#login label {
    display: block;
}

#rightPanel {
    width: 270px;
    margin: 30px 30px 0px 0px;
    float: right;
    text-align: justify;
}

table td.name {
    color: #99ccff;
    font-weight: bold;
}

table td.updated {
    color: #99ccff;
}

h2 {
    margin: 0;
    padding: 0;
    color: #899ea6;
}

#newTask, #newCategoryForm {
    margin: 10px 20px 10px 20px;
}

/* footer */
#footer a {
    color: #99ccff;
    text-decoration: none;
    font-weight: bold;
}

#footer {
    width: 646px;
    height: 35px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    clear: both;
}

#footer div {
    font-size: 11px;
    margin: 0 20px 2px 0;
}
